{% extends 'base.html' %}

{% block content %}
    <h2>Your Security, Our Priority.</h2>
    <p style="color: red;">Proper password management is the first line of defence against cyber threats. </p>
    <footer style=" font-size: large; color:rgb(252, 251, 251); position: fixed; bottom: 0; width: 40%; background-color: transparent; text-align: center; font-style: italic; font-weight:normal ; padding: 1em;">
        <p>Created for CS50 final project by Richard Acquah, 2024.</p>
    </footer>
{% endblock %}
